.ToolTable {
	padding: 0 5%;

	&__Table {
		width: 100%;
		max-width: 100%;
		border-collapse: collapse;

		& th,td {
			text-align: left;
			padding: .75rem;
		}

		&-Head {
			background-color: $primary-color;
			color: $text-color;

			& th {
				vertical-align: bottom;
				border-bottom: 2px solid $table-secondary-color;
			}
		}

		&-Body {
			& > tr:nth-child(even) {
				background-color: $table-secondary-color;
			}

			& td {
				vertical-align: top;
				border-top: 1px solid $table-secondary-color;
			}
		}
	}
}