@import './fonts.scss';

/* Colors */
$text-color   		      	: #fafafa;

$primary-color				: #007bff;
$success-color				: #28a745;
$warning-color				: #ffc107;
$danger-color				: #dc3545;
$white-color				: #ffffff;
$table-secondary-color		: #f2f2f2;
$page-secondary-color		: #f2f2f2;
$form-secondary-color		: #007bffb9;
$field-secondary-color		: #ced4da;
$secondary-color			: #00BCD4;
$accent-color             	: #FF4081;

/* Text */
$font-main					: 'roboto-regular';
$font-main-bold				: 'roboto-bold';
$font-main-light			: 'roboto-light';