.ToolPageNavigation {
	display: flex;
	border-radius: .25rem;
	justify-content: flex-end;
	margin-right: 10%;

	@include respond-to-few((mobile, phone)) {
		justify-content: center;
		margin-right: 0;
		padding: 0 5%;
	}
}