/* Colors */
$primary-text-color			: rgba(0,0,0,0.87);
$secondary-text-color     	: rgba(0,0,0,0.54);

$background-color         	: #fafafa;

$primary-color            	: #00BCD4;
$secondary-color			: #00BCD4;
$accent-color             	: #FF4081;

/* Text */
$font-main					: 'roboto-regular';
$font-main-bold				: 'roboto-bold';
$font-main-light			: 'roboto-light';